<label for="Country">Country</label>
@Html.DropDownList("Id", ViewBag.CountryId as SelectList, "--select country--", new {
id = "ddlCountries",
@class = "form-control form-control-sm",
onchange = "ddlCountries_changed(this.value);"
})