<div class="form-inline">
    @Html.DropDownList("Id", ViewBag.CountryId as SelectList, "--select country--", new { id = "ddlCountries", @class = "form-control form-control-sm" })

    <button class="btn btn-outline-info btn-sm" onclick="location.href='@Url.Action("Admin", "Home")'">
        Admin
    </button>
</div>

<div id="CodesContent"></div>
<div id="NetworkContent"></div>