@Html.DropDownList("Id", ViewBag.CountryId as SelectList, "--select country--", new { id = "ddlCountries", @class = "form-control form-control-sm" })
<div id="CodesContent"></div>
<div id="NetworkContent"></div>