@using (Html.BeginForm("ExportCodes", "Countries", FormMethod.Post, new { id = "form_codes" }))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>Export to .xlsx</h4>
    <hr />
    <div class="form-group"> @{Html.RenderAction("CountryList", "Countries");} </div>

    <button class="btn btn-success" type="submit">Export</button>
</div>
}
