@using (Html.BeginForm("RegExp", "Countries", FormMethod.Post, new { id = "form_RegExp" }))
{
    <h4>RegExp generator</h4>
    <hr />
    <div class="form-group">
        <div id="NetworkDD" class="form-group">  </div>
    </div>
}