body {
    padding-bottom: 20px;
    font-size: 0.8rem;
}

.list-group {
    flex-direction: row;
}

.list-group-item {
    display: inline-block;
    float: left;
    flex-direction: row;
    margin-bottom: 0px;
}

    .list-group-item:first-child {
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
    }

    .list-group-item:last-child {
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
    }

.loader {
    width: 120px;
    height: 120px;
    left: 50%;
    position: absolute;
    z-index: 99;
    display: none;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}