<div class="row">
    <div class="col-lg-6 col-md-9 col-sm-12">
        <div> @{Html.RenderAction("Create", "Countries");} </div>
        <div> @{Html.RenderAction("Create", "Colors");} </div>
        <div> @{Html.RenderAction("Create", "Networks");} </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
    <div class="col-lg-6 col-md-9 col-sm-12">
        @{Html.RenderAction("ExportCodes", "Countries");}
    </div>
</div>