@{
    ViewBag.Title = "Main";
}

<div class="form-inline">
    @{Html.RenderAction("CountryList", "Countries");}
    <button class="btn btn-outline-info btn-sm" onclick="location.href='@Url.Action("Admin", "Home")'">
        Admin
    </button>
</div>

<div id="CodesContent"></div>
<div id="NetworkContent"></div>